* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('../images/back.png');
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center;
}

.loader {
    margin: auto;
    border: 16px solid #f3f3f3;
    border-radius: 70%;
    border-top: 16px solid rgb(40, 3, 250);
    border-bottom: 16px solid rgb(40, 3, 250);
    width: 170px;
    height: 170px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 480px) {
    #error-template {
        font-size: 12px;
    }
  }
